

/*NAVBAR*/

/*END NAVBAR/*

-------------------------------------------------------------------------------------
BANNER
/* Container holding the image and the text */
.banner {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: "Times New Roman, Times, serif;";
    
  }
  
/*--------------------------------------------------------------------------------------
END BANNER*/

